<!DOCTYPE html>
<html>
    <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <script src="../js/jquery-1.7.2.min.js" type="text/javascript"></script>
            <script src="../js/jquery.ui.position.js" type="text/javascript"></script>
            <script src="../js/jquery.contextMenu.js" type="text/javascript"></script>
            <script src="../js/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
			<script src="../js/colorPlay.js" type="text/javascript"></script>
			<script src="../js/ee.js" type="text/javascript"></script>
            
            <link href="../css/contextMenu/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
            <link href="../css/jQUi/jquery-ui-1.8.21.custom.css" rel="stylesheet" type="text/css" />
            <title>
                    Search 
            </title>
			<script type="text/javascript">
				function relocate(where){
					window.location.replace(where);
				}
			</script>
    </head>
    <body>
	<button onclick="relocate('../index.html')">Home Page</button>
	<div id="wrapper">
        <div class="ball" style="position:absolute;background-color:green;"></div>
		<!-- TOP ROW BOXES -->
		<div class="boxZone b7" style="position:absolute;top:50px;left:50px;border: 5px solid black;"></div>
		<div class="boxZone b8" style="position:absolute;top:50px;left:300px;border: 5px solid black;"></div>
		<div class="boxZone b9" style="position:absolute;top:50px;left:550px;border: 5px solid black;"></div>
		<!-- MIDDLE ROW BOXES -->
		<div class="boxZone b4" style="position:absolute;top:300px;left:50px;border: 5px solid black;"></div>
		<div class="boxZone b5" style="position:absolute;top:300px;left:300px;border: 5px solid black;"></div>
		<div class="boxZone b6" style="position:absolute;top:300px;left:550px;border: 5px solid black;"></div>
		<!-- BOTTOM ROW BOXES -->
		<div class="boxZone b1" style="position:absolute;top:550px;left:50px;border: 5px solid black;"></div>
		<div class="boxZone b2" style="position:absolute;top:550px;left:300px;border: 5px solid black;"></div>
		<div class="boxZone b3" style="position:absolute;top:550px;left:550px;border: 5px solid black;"></div>

		<div id="congratzAlert" align="center">Nice Job!</div>	

    </div>
    <div id="player" style="position:absolute;width:600px;height:100px;left:800px;top:50px;">
    	<div id="playerHealthBar" style="width:100%;height:80px;background-color:#0f0;"></div>
	</div>
    </body>
</html>