<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script src="../js/jquery-1.7.2.min.js" type="text/javascript"></script>
		<script src="../js/jquery.ui.position.js" type="text/javascript"></script>
		<script src="../js/jquery.contextMenu.js" type="text/javascript"></script>
		<script src="../js/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
		<link href="../css/contextMenu/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
		<link href="../css/jQUi/jquery-ui-1.8.21.custom.css" rel="stylesheet" type="text/css" />
		<link href="../css/test.css" rel="stylesheet" type="text/css" />
		<title>
			2 way binding
		</title>
		<script type="text/javascript">
			jQuery(document).ready(function() {
				jQuery('body').prepend('<div id="nav"></div>');
				jQuery.get(
					"../view/nav.html",
					function(response) {
						jQuery("#nav").html(response);
					},
					"html"
				);

				jQuery("body").test();

				/*
				var table = $(".table");
				var row = table.find("tr").detach();
				for(var i = 1; i < 10000; i++){
					row.find("td:first").html("attr" + i);
					//row.attr("data-bind-test", "attr" + i);
					table.append(row.clone());
				}
				*/
				//7264
				//7213
				//7193

				/*
				var table = $(".table").detach();
				var row = table.find("tr").detach();
				for(var i = 1; i < 10000; i++){
					row.find("td:first").html("attr" + i);
					//row.attr("data-bind-test", "attr" + i);
					table.append(row.clone());
				}
				$("body").append(table);
				*/
				//6358
				//6313
				//6390

				/*
				var table = document.getElementById("table");
				for(var i = 1; i < 10000; i++){
					var tr = document.createElement("tr");
					var td = document.createElement("td");
					td.appendChild(document.createTextNode("test"));
					tr.appendChild(td);
					tr.appendChild(document.createElement("td"));
					table.appendChild(tr);
				}
				*/
				//1376
				//1365
				//1384
				

				
				var table = document.getElementById("table");
				var frag = document.createDocumentFragment();
				for(var i = 1; i < 10000; i++){
					var tr = document.createElement("tr");
					var td = document.createElement("td");
					td.appendChild(document.createTextNode("test"));
					tr.appendChild(td);
					tr.appendChild(document.createElement("td"));
					frag.appendChild(tr);
				}
				table.appendChild(frag);
				
				//1220
				//1220
				//1235
			});

			function dataBinder(object_id) {
				var pubSub = jQuery({});
				var data_attr = "bind-" + object_id,
					message = object_id + ":change";

				jQuery(document).on("keyup", "[data-" + data_attr + "]", function(evt) {
					var $input = jQuery(this);

					pubSub.trigger(message, [$input.data(data_attr), $input.val()]);
				});

				pubSub.on(message, function(evt, prop_name, new_val) {
					jQuery("[data-" + data_attr + "=" + prop_name + "]").each(function() {
						var $bound = jQuery(this);

						if ($bound.is("input, textarea, select")) {
							$bound.val(new_val);
						} else {
							$bound.html(new_val);
						}
					});
				});
				return pubSub;
			}
			
			function user(uid) {
				var binder = new dataBinder(uid);

				user = {
					attributes: {},
					set: function(attr_name, val) {
						this.attributes[ attr_name ] = val;
						binder.trigger(uid + ":change", [attr_name, val, this]);
					},
					get: function(attr_name) {
						return this.attributes[ attr_name ];
					},
					_binder: binder
				};

				binder.on(uid + ":change", function(evt, attr_name, new_val, initiator) {
					if (initiator !== user) {
						user.set(attr_name, new_val);
					}
				});

				return user;
			}

			(function($){
			    $.widget("test.test", {
			        options: {
			            _user: undefined,
			            _obj1: {
							attr1: "attribute1",
							attr2: "attribute1",
							attr3: "attribute1",
							attr4: "attribute1",
							attr5: "attribute1"
						},
						_obj2: {
							attr1: "batman",
							attr2: "robin",
							attr3: "superman",
							attr4: "auqaman",
							attr5: "joker"
						}
			        },
			        _create: function(){
			            var that = this;
			            var options = that.options;

			            options._user = new user("test");
			            $(".setObj1").click(function(){
							that._setUser(options._obj1);
						});

						$(".setObj2").click(function(){
							that._setUser(options._obj2);
						});
			        },
			        _setUser: function (obj){
						var that = this;
						var options = that.options;

						for(var attr in obj)
							options._user.set(attr, obj[attr]);
					},
			    });
			})(jQuery);
		</script>
		<style>

		</style>
	</head>
	<body>
		<h2 id="header">2 way binding</h2>
		<button class="setObj1" type="button">set 1</button>
		<button class="setObj2" type="button">set 2</button>
		<table border="1" class="table" id="table" style="margin-top:10px;"> 
			<tr>
				<td>attr 1:</td>
				<td data-bind-test="attr1" style="width:300px;"></td>
			</tr>
		</table>
	</body>
</html>