<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script src="../js/jquery-1.7.2.min.js" type="text/javascript"></script>
		<script src="../js/jquery.ui.position.js" type="text/javascript"></script>
		<script src="../js/jquery.contextMenu.js" type="text/javascript"></script>
		<script src="../js/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
		<script src="../js/menubuilder.js" type="text/javascript"></script>
		<link href="../css/contextMenu/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
		<link href="../css/jQUi/jquery-ui-1.8.21.custom.css" rel="stylesheet" type="text/css" />
		<link href="../css/test.css" rel="stylesheet" type="text/css" />
		<title>
			cal
		</title>
		<script type="text/javascript">
			jQuery(document).ready(function(){;
				menubuilder();
				jQuery("body").cal();
			});
			(function($){
				$.widget("test.cal",{
					options: {
						//element objects
						_calTbody: undefined,
						_calDay: undefined,
						_calHeader: undefined,
						_calRow: undefined,
						_nextButton: undefined,
						_prevButton: undefined,
						//element selectors
						_calTbodySel:"#calTable",
						_calDaySel:".calDay",
						_calHeaderSel: ".calTitle",
						_calRowSel:".calRow",
						_nextButtonSel: ".nextMonth",
						_prevButtonSel: ".prevMonth",
						//misc
						_monthAr: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
						_monthIndex: 0 
					},
					drawCal: function(month){
						var that = this;
						that._drawCal(month);
					},
					_addCalEventHandlers: function(){
						var that = this;
						var options = that.options;
						//next button
						options._nextButton.click(function(){
							that._nextClick();
						});
						//prev button
						options._prevButton.click(function(){
							that._prevClick();
						});
					},
					_create: function(){
						var that = this;
		//				var options = that.options;
						that._makeElementObjectsFromTemplate();
						that._addCalEventHandlers();
						that._drawCal();
					},
					_daysInMonth: function(month, year){
						return 32 - new Date(year, month, 32).getDate();
					},
					_drawCal: function(month){
						var that = this;
						var options = that.options;

						var d = new Date();
						if(month == undefined)
							month = d.getMonth();
						options._monthIndex = month;
						var today = d.getDate();
						var thisMonth = d.getMonth();
						d.setMonth(month);
						d.setDate(1)
						var day = d.getDate();
						var dow = d.getDay();
						var dim = that._daysInMonth(d.getMonth(), d.getFullYear());
						var cellIndex = 1;
						
						options._calTbody.html("");
						options._calHeader.html(options._monthAr[month]);
						do{
							options._calRow.html("");
							for(var i = 0; i < 7; i++){
								if(cellIndex <= dow || day > dim){
									options._calDay.css({"background":"#dddddd"})
									options._calDay.find(".dayNum").html("")
								}
								else{
									if(day == today && month == thisMonth)
										options._calDay.css({"border":"1px solid red"});
									else
										options._calDay.css({"border":"1px solid black"});
									options._calDay.find(".dayNum").html(day)
									options._calDay.css({"background":""})
									day++;
								}
								cellIndex++;
								options._calRow.append(options._calDay.clone());
							}
							options._calTbody.append(options._calRow.clone());
						}
						while(day - 1 < dim);
					},
					_makeElementObjectsFromTemplate: function(){
						var that = this;
						var options = that.options;
						options._calTbody = jQuery(options._calTbodySel);
						options._calRow = options._calTbody.find(options._calRowSel).detach();
						options._calDay = options._calRow.find(options._calDaySel).detach();
						options._calHeader = $(options._calHeaderSel);
						options._nextButton = $(options._nextButtonSel);
						options._prevButton = $(options._prevButtonSel);
					},
					_nextClick: function(){
						var that = this;
						var options = that.options;
						options._monthIndex++;
						if(options._monthIndex >= 12)
							options._monthIndex = 0;
						that._drawCal(options._monthIndex);
					},
					_prevClick: function(){
						var that = this;
						var options = that.options;
						options._monthIndex--;
						if(options._monthIndex <= -1)
							options._monthIndex = 11;
						that._drawCal(options._monthIndex);
					}
				});
			})(jQuery);
		</script>
	</head>
	<body>
		<h1>cal</h1>
		<table style="border:2px solid black;">
			<colgroup span="1" style="background:#ddddff"></colgroup>
			<colgroup span="5"></colgroup>
			<colgroup span="1" style="background:#ddddff"></colgroup>
			<thead style="background:white;">
				<tr>
					<th><button class="prevMonth" type="button">Prev</button></th>
					<th class="calTitle" colspan="5">
						Calender Test
					</th>
					<th><button class="nextMonth" type="button">Next</button></th>
				</tr>
				<tr>
					<th>Sunday</th>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
					<th>Saturday</th>
				</tr>
			</thead>
			<tbody id="calTable">
				<tr class="calRow">
					<td class="calDay" style="border:1px solid black; height:120px; vertical-align:top; width:120px;">
						<span class="dayNum" style="border:1px solid black; display:block; height:20%; text-align:center; width:20%;"></span>
						<span style="display:inline-block;"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>