<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script src="../js/jquery-1.7.2.min.js" type="text/javascript"></script>
		<script src="../js/jquery.ui.position.js" type="text/javascript"></script>
		<script src="../js/jquery.contextMenu.js" type="text/javascript"></script>
		<script src="../js/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
		<link href="../css/contextMenu/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
		<link href="../css/jQUi/jquery-ui-1.8.21.custom.css" rel="stylesheet" type="text/css" />
		<link href="../css/test.css" rel="stylesheet" type="text/css" />
		<title>
			terminal
		</title>
		  
		<script type="text/javascript">
			jQuery(document).ready(function(){
				jQuery('body').prepend('<div id="nav"></div>');
				jQuery.get(
					"../view/nav.html", 
					function(response){
						jQuery("#nav").html(response);
					},
					"html"
				);

				$(".terminal").terminal();
			});

			(function($){
			    $.widget("test.terminal",{
			        options: {
			            _promptText: "terminal $ "
			        },
			        _addEventListeners: function(){
			        	var that = this;
			        	var options = that.options;

			        	that.element.keyup(function(e){
			        		if(e.keyCode === 13)
			        			that._handleEnter();
			        	});
			        },
			        _create: function(){
			        	var that = this;
			            that._prepareCon();
			            that._addEventListeners();
			        },
			        _executeCommand: function(command, args){
			        	var that = this;
			        	var options = that.options;

			        	switch(command){
			        		case "":
			        			that._print("");
			        			break;
			        		case "clear":
			        			if(args.length == 0)
			        				that._prepareCon();
			        			else{	
			        				that._printlog("Unrecognized agrs");
			        				that._print("");
			        			}
			        			break;
		        			case "ls":
		        				if(args.length == 0)
		        					that._listLinks();
			        			else{	
			        				that._printlog("Unrecognized agrs");
			        				that._print("");
			        			}
		        				break;
	        				case "open":
	        					that._openLink(args);
	        					break;
		        			default: 
		        				that._printlog("Unknown command");
		        				that._print("");
		        				break;
			        	}
			        },
			        _handleEnter: function(){
			        	var that = this;
			        	var options = that.options;

			        	var lineAr = that.element.val().split("\n");
			        	var lastLine = lineAr[lineAr.length - 2];
			        	var input = lastLine.split(options._promptText)[1].split(" ");
			        	var command = input[0];
			        	var args = input.slice(1, input.length);
			        	
			        	that._executeCommand(command, args);
			        },
			        _listLinks: function(){
			        	var that = this;
			        	var options = that.options;

			        	$("#nav span").each(function(){
			        		that._printlog($(this).html());
			        	});
			        	that._print("");
			        },
			        _openLink: function(args){
			        	var that = this;
			        	var options = that.options;
			        	var success = false;

			        	$("#nav span").each(function(){
			        		if($(this).html() == args[0]){
			        			$(this).click();
			        			success = true;
			        		}
			        	});
			        	if(!success){
			        		that._printlog("The page was not found.");
			        		that._print("");
			        	}
			        },
			        _prepareCon: function(){
			        	var that = this;
			        	var options = that.options;

		        		that.element.val(options._promptText);
			        },
			        _print: function(text){
			        	var that = this;
			        	var options = that.options;

		        		that.element.val(that.element.val() + options._promptText + text);	
			        },
			        _printlog: function(text){
			        	var that = this;
			        	var options = that.options;

		        		that.element.val(that.element.val() + text + "\n");
			        }
			    });
			})(jQuery);
		</script>
		<style>
			body{
				background-color:black;
				
			}
			.terminal{
				background-color:black;
				border:none;
				color:green;
				height:500px;
				margin:10px 0px 0px 10px;
				resize:none;
				width:700px;
			}
		</style>
	</head>
	<body>
		<textarea class="terminal"></textarea>
	</body>
</html>
