<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>
            Good Luck!
        </title>
        <script type="text/javascript">
            jQuery(document).ready(function(){
                menubuilder();
            });
        </script>
        <style>
        </style>
    </head>
    <body>
        <marquee direction="down" width="600" height="600" behavior="alternate" style="border:solid">
            <marquee behavior="alternate">
                <div style="color:red; float:left; font-size:80px;">Good Luck!!</div>
            </marquee>
        </marquee>
    </body>
</html>
