<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="../js/jquery-1.7.2.min.js" type="text/javascript"></script>
		<script src="../js/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
		<script src="../js/menubuilder.js" type="text/javascript"></script>
		<title>
			day cal
		</title>
		<script type="text/javascript">
			jQuery(document).ready(function(){
				menubuilder();
				$(".resizeMeJs").width($(window).width() - 102);
				$(window).on("resize", function(){
					$(".resizeMeJs").width($(window).width() - 102);
				});

				var row = $(".df_dayCalendar_hourRow").remove();
				for(var i = 0; i < 24; i++){
					$(".df_dayCalendar_content").append(row.clone());
				}
			});
		</script>
		<style>
			*, *:before, *:after {
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
			}
		</style>
	</head>
	<body>
		<div class="df_weekCalendar unselectable">
			<div style="border:2px solid black;">
				<div class="df_weekCalendar_title" style="border-bottom:2px solid black; text-align:center;">April 2014</div>
				<div style="border-bottom:2px solid black; ">
					<div style="float:left; height:10px; width:65px;"></div>
					<div class="df_weekCalendar_resize" style="border-right:1px solid black; float:left;">
						<div class="df_weekCalendar_column df_weekCalendar_column_head df_weekCalendar_titleCell_dowDate"></div>
						<div style="clear:both;"></div>
					</div>
					<div style="clear:both;"></div>
				</div>
				<div class="df_weekCalendar_content" style="overflow-y:scroll; position:relative;">
				</div>
			</div>
		</div>
	</body>
</html>