<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="../js/jquery-1.7.2.min.js" type="text/javascript"></script>
		<script src="../js/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
		<script src="../js/menubuilder.js" type="text/javascript"></script>
		<title>
			month cal
		</title>
		<script type="text/javascript">
			jQuery(document).ready(function(){
				menubuilder();

				var holder = $(".df_weekCalendar_resize");
				var bar = $(".df_weekCalendar_column").detach();
				var cells = [];
				for(var i = 0; i < 399; i++){
					var cell = bar.clone();
					cell.html(i);
					cells.push(cell);
					holder.append(cell);
				}
				holder.append($("<div style='clear:both;'></div>"))

				cells[0].css("background-color", "blue");
				cells[1].css("background-color", "blue");
				cells[2].css("background-color", "blue");

				cells[7].css("background-color", "green");
				cells[8].css("background-color", "green");

				cells[14].css("background-color", "purple");

				cells[42].css("background-color", "orange");
				cells[43].css("background-color", "orange");
				cells[44].css("background-color", "orange");
				cells[45].css("background-color", "orange");
				cells[46].css("background-color", "orange");
				cells[47].css("background-color", "orange");
				cells[48].css("background-color", "orange");
				cells[84].css("background-color", "orange");
			});
		</script>
		<style>
			*, *:before, *:after {
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
			}

			.df_weekCalendar_column{
				border-bottom:1px solid black;
				border-left:1px solid black;
				float:left;
				height:16px;
				width:14.28%;
			}

			.df_weekCalendar_resize{
				border:2px solid black;
				border-bottom:1px solid black;
				border-left:1px solid black;
			}
		</style>
	</head>
	<body>
		<div class="df_weekCalendar_resize">
			<div class="df_weekCalendar_column"></div>
		</div>
	</body>
</html>