<a href="../view/testbed.html">
	<span class="navBtn">testbed</span>
</a>
<a href="../view/test2.html">
	<span class="navBtn">test2</span>
</a>
<a href="../view/search.html">
	<span class="navBtn">search</span>
</a>
<a href="../view/quickfind.html">
	<span class="navBtn">quickfind</span>
</a>
<a href="../view/iemax.html">
	<span class="navBtn">iemax</span>
</a>
<a href="../view/pi.html">
	<span class="navBtn">pi</span>
</a>
<a href="../view/paint.html">
	<span class="navBtn">paint</span>
</a>
<a href="../view/textFade.html">
	<span class="navBtn">gradient</span>
</a>
<a href="../view/cal.html">
	<span class="navBtn">cal</span>
</a>
<a href="../view/fizzbuzz.html">
	<span class="navBtn" style="background-color:red;">fizzbuzz</span>
</a>
<a href="../view/fiddle.html">
	<span class="navBtn" style="background-color:red;">fiddle</span>
</a>
<a href="../view/calSearch.html">
	<span class="navBtn">cal bar</span>
</a>
<a href="../view/boxSize.html">
	<span class="navBtn">b-sizing</span>
</a>
<a href="../view/2way.html">
	<span class="navBtn">2WBind</span>
</a>