<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="../js/jquery-1.7.2.min.js" type="text/javascript"></script>
        <script src="../js/jquery.ui.position.js" type="text/javascript"></script>
        <script src="../js/jquery.contextMenu.js" type="text/javascript"></script>
        <script src="../js/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
        <script src="../js/menubuilder.js" type="text/javascript"></script>
        <link href="../css/contextMenu/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
        <link href="../css/jQUi/jquery-ui-1.8.21.custom.css" rel="stylesheet" type="text/css" />
        <link href="../css/test.css" rel="stylesheet" type="text/css" />
        <title>
            proto
        </title>
        <script type="text/javascript">
            jQuery(document).ready(function(){;
                menubuilder();
            });

            var Base = {
                count: 0,

                inc: function () {
                    this.count++;
                },

                dec: function () {
                    this.count--;
                },

                getCount: function () {
                    return this.count;
                }
            };

            var Ex1 = Object.create( Base );
            Ex1.add = function ( num ) {
                var i;
                for ( i = 0; i < num; i++ ) {
                    this.inc();
                }
            };

            /*var Ex2 = Object.create( Base );
            Ex2.add = function ( num ) {
                var i;
                for ( i = 0; i < num * 2; i++ ) {
                    this.inc();
                }
            };*/

            var Ex2 = function () {
                this.add = function ( num ) {
                    var i;
                    for ( i = 0; i < num * 2; i++ ) {
                        this.inc();
                    }    
                };
            };
            Ex2.prototype = Base;

            var o1 = Object.create( Ex1 );
            // var o2 = Object.create( Ex2 );
            var o2 = new Ex2();

            o1.add( 5 );
            console.log( o1.getCount() );

            o2.add( 5 );
            console.log( o2.getCount() );

            console.log( o1.getCount() );

            String.prototype.repeatify = function ( n ) {
                return this.repeat( n );
            }
            console.log( "t".repeatify( 2 ) );
        </script>
        <style type="text/css">

        </style>
    </head>
    <body>
    </body>
</html>
