<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script src="../js/jquery-1.7.2.min.js" type="text/javascript"></script>
		<script src="../js/menubuilder.js" type="text/javascript"></script>
		<script src="../js/pubsub.js" type="text/javascript"></script>
		<link href="../css/test.css" rel="stylesheet" type="text/css" />
		<title>
			pubsub
		</title>
		<script>
		jQuery(document).ready(function(){
			menubuilder();
		});

		PubSub.subscribe("test", function(topic, data){console.log(topic); console.log(data)});
		PubSub.publish("test", [1, 2, 3]);
		</script>
		<style>
		</style>
	</head>
	<body>
	</body>
</html>