<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <script src="../js/menubuilder.js" type="text/javascript"></script>
        <script src="//localhost:35729/livereload.js"></script>
        <title>
            quote req
        </title>
        <script type="text/javascript">
            jQuery(document).ready(function(){
                menubuilder();
            });
        </script>
        <style>
        </style>
    </head>
    <body>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">New Request</h3>
            </div>
            <div class="panel-body">
                <h3>General</h3>
                <div class="">
                    <label for="">Delivery Address</label>
                </div>
                <textarea class="form-control" name="name" rows="4" cols="60">
IRoofing Contractor, Inc.
444 Maryland Avenue
Baltimore, MD 21221-9998
                </textarea>
                <br>
                <div class="">
                    <label for="">Send Invoice To</label>
                </div>
                <textarea class="form-control" name="name" rows="4" cols="60">
Roofing Contractor, Inc.
444 Maryland Avenue
Baltimore, MD 21221-9998
                </textarea>
                <br>
                <div class="">
                    <label for="">Delivery Date</label>
                </div>
                <div class="">
                    6/24/2016
                </div>
                <br>
                <div class="">
                    <label for="">Notes</label>
                </div>
                <textarea class="form-control" name="name" rows="4" cols="60">Bring pizza.</textarea>
                <hr>
                <h3>Items</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Product
                            </th>
                            <th>
                                Quantity
                            </th>
                            <td>
                                <button class="btn btn-default btn-sm" type="button" name="button">Add Item</button>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" name="name" value="Shingles">
                            </td>
                            <td>
                                <input type="text" name="name" value="400 Sq ft">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="name" value="Nails">
                            </td>
                            <td>
                                <input type="text" name="name" value="12 Boxes">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="name" value="Tar">
                            </td>
                            <td>
                                <input type="text" name="name" value="8 Gal">
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-default" type="button" name="button">Send</button>
                <button class="btn btn-default" type="button" name="button">Cancel</button>
            </div>
        </div>


        <div style="height:50px; color: blue;">
            When the CONTRACTOR submits the form, the SUPPLIER will get the following.
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Request from Jack and Jill Roofing</h3>
            </div>
            <div class="panel-body">
                <h3>General</h3>
                <div class="">
                    <label for="">Delivery Address</label>
                </div>
                <pre>Roofing Contractor, Inc.
444 Maryland Avenue
Baltimore, MD 21221-9998</pre>
                <br>
                <div class="">
                    <label for="">Send Invoice To</label>
                </div>
                <pre>Roofing Contractor, Inc.
444 Maryland Avenue
Baltimore, MD 21221-9998</pre>
                <br>
                <div class="">
                    <label for="">Delivery Date</label>
                </div>
                <div class="">
                    6/24/2016
                </div>
                <br>
                <div class="">
                    <label for="">Notes</label>
                </div>
                <pre>Bring pizza.</pre>
                <hr>
                <h3>Items</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Product
                            </th>
                            <th>
                                Quantity
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Shingles
                            </td>
                            <td>
                                400 Sq ft
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Nails
                            </td>
                            <td>
                                12 Boxes
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tar
                            </td>
                            <td>
                                8 Gal
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-default" type="button" name="button">Quote</button>
                <button class="btn btn-default" type="button" name="button">Dismiss</button>
            </div>
        </div>


        <div style="height:50px; color: blue;">
            If the SUPPLIER clicks 'quote', the following form will open.
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">New Quote - Jack and Jill Roofing</h3>
            </div>
            <div class="panel-body">
                <div class="">
                    <label for="">Notes</label>
                </div>
                <textarea class="form-control" name="name" rows="4" cols="60">I'm not bringing pizza.</textarea>
                <hr>
                <h3>Items</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Product
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Unit
                            </th>
                            <th>
                                Unit Price ($)
                            </th>
                            <th>
                                Line Total ($)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Shingles
                            </td>
                            <td>
                                400 Sq ft
                            </td>
                            <td>
                                <input type="text" name="name" value="Sq ft">
                            </td>
                            <td>
                                <input type="text" name="name" value="10">
                            </td>
                            <td>
                                <input type="text" name="name" value="4000">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Nails
                            </td>
                            <td>
                                12 Boxes
                            </td>
                            <td>
                                <input type="text" name="name" value="Box (500ct)">
                            </td>
                            <td>
                                <input type="text" name="name" value="20">
                            </td>
                            <td>
                                <input type="text" name="name" value="40">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tar
                            </td>
                            <td>
                                8 Gal
                            </td>
                            <td>
                                <input type="text" name="name" value="5 Gal">
                            </td>
                            <td>
                                <input type="text" name="name" value="100">
                            </td>
                            <td>
                                <input type="text" name="name" value="200">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="4">
                                <label for="">Total</label>
                            </td>
                            <td>
                                4,240.00
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-default" type="button" name="button">Submit</button>
                <button class="btn btn-default" type="button" name="button">Cancel</button>
            </div>
        </div>


        <div style="height:50px; color: blue;">
            The CONTRACTOR will then see this on their dashboard.
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Quote from Dandy Supply</h3>
            </div>
            <div class="panel-body">
                <h3>General</h3>
                <div class="">
                    <label for="">Delivery Address</label>
                </div>
                <pre>Roofing Contractor, Inc.
444 Maryland Avenue
Baltimore, MD 21221-9998</pre>
                <br>
                <div class="">
                    <label for="">Send Invoice To</label>
                </div>
                <pre>Roofing Contractor, Inc.
444 Maryland Avenue
Baltimore, MD 21221-9998</pre>
                <br>
                <div class="">
                    <label for="">Delivery Date</label>
                </div>
                <div class="">
                    6/24/2016
                </div>
                <br>
                <div class="">
                    <label for="">Your Notes</label>
                </div>
                <pre>Bring pizza.</pre>
                <div class="">
                    <label for="">Supplier Notes</label>
                </div>
                <pre>I'm not bringing pizza</pre>
                <hr>
                <h3>Items</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Product
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Unit
                            </th>
                            <th>
                                Unit Price ($)
                            </th>
                            <th>
                                Line Total ($)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Shingles
                            </td>
                            <td>
                                400 Sq ft
                            </td>
                            <td>
                                <div>

                                </div>Sq ft</div>
                            </td>
                            <td>
                                <div>

                                </div>10</div>
                            </td>
                            <td>
                                <div>

                                </div>4000</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Nails
                            </td>
                            <td>
                                12 Boxes
                            </td>
                            <td>
                                <div>

                                </div>Box (500ct)</div>
                            </td>
                            <td>
                                <div>

                                </div>20</div>
                            </td>
                            <td>
                                <div>

                                </div>40</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tar
                            </td>
                            <td>
                                8 Gal
                            </td>
                            <td>
                                <div>

                                </div>5 Gal</div>
                            </td>
                            <td>
                                <div>

                                </div>100</div>
                            </td>
                            <td>
                                <div>

                                </div>200</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-default" type="button" name="button">Accept</button>
                <button class="btn btn-default" type="button" name="button">Dismiss</button>
            </div>
        </div>


    </body>
</html>
