<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script src="../js/jquery-1.7.2.min.js" type="text/javascript"></script>
		<script src="../js/jquery.ui.position.js" type="text/javascript"></script>
		<script src="../js/jquery.contextMenu.js" type="text/javascript"></script>
		<script src="../js/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
		<script src="../js/menubuilder.js" type="text/javascript"></script>
		<link href="../css/test.css" rel="stylesheet" type="text/css" />
		<title>
			shag
		</title>
		<script>
		jQuery(document).ready(function(){
			menubuilder();
		});
		</script>
		<style>
		</style>
	</head>
	<body style="background-image:url('../images/paneling.jpg');">
		<div style="float:left; height:200px; position:relative; width:20%;">
			<img src="../images/ccpipe1.png" style="display:block; position:absolute; right:0px;">
		</div>
		<div style="background-image:url('../images/ccpipe2.png'); float:left; height:200px; width:60%;"></div>
		<div style="float:left; height:200px; width:20%;">
			<img src="../images/ccpipe3.png">
		</div>
		<div style="background-image:url('../images/shag.png'); bottom:0px; height:60px; left:0px; position:fixed; width:100%;"></div>
	</body>
</html>